<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Add Task</title>

    <style>
        #mainNav {
            background-color: blueviolet;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <nav id="mainNav" class="navbar navbar-primary">
            <a class="navbar-brand" style="color: azure;" href="/"> ADD TASK</a>
        </nav>
    </div>
    <main class="jumbotron">
        <div class="container">
            <a style="color: blueviolet;" href="/"> Go To My To Do List </a>
        </div>

        <hr>
        <div class="form container">
            <div class="container">
                <h4 style="color: rgb(165, 42, 108);"> Fill in the details below to add task</h4>
            </div>
            <form action="/add/" method="POST" class="form-group" style="color:rgb(31, 7, 86);">
                {% csrf_token %}
                <div class="form-group">
                    <label for="formGroupExampleInput">Title</label>
                    <input name="title" required type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="eg. Go Home">
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput2">Description</label>
                    <textarea name="description" required type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="e.g.I will head home"></textarea>
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput2">Due Date</label>
                    <input name="duedate" type="date" class="form-control" id="formGroupExampleInput2"
                        placeholder="dd/mm/yyyy">
                </div>

                <div class="form-group">
                    <div>
                        <label for="formGroupExampleInput2">Priority</label>
                        <select name="priority" id="" class="form-control">
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Status</label>
                        <select name="status" id="" class="form-control">
                            <option value="Completed">Completed</option>
                            <option value="Pending">Pending</option>
                            <option value="In_progress">In progress</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Date created</label>
                        <input name="creationdate" required type="date" class="form-control" id="formGroupExampleInput2"
                            placeholder="dd/mm/yyyy">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success btn-md">Add Task</button>
                    </div>
                </div>


            </form>
        </div>
    </main>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>