<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Add New Student and their details</title>


</head>

<body>
    <div class="container">
        <div style="background-color: rgb(42, 211, 211);">
            <nav class="nav">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#!"> Add New Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/"> Back to Home Page</a>
                </li>
                <li class="nav-item">
                    <a type="button" class="btn btn-danger btn-sm" href="/"> + Add</a>
                </li>
            </ul>
            </nav>
        </div>

        <main style="background-color:aliceblue;">
           <div class="jumbotron" >
                <div style="text-decoration: solid; text-emphasis-color:black ;">
                    <h1 class="lead"> Enter Student Details </h1>
                </div>
             <div class="form">
                    <form action="/add" method="POST" class="flex flex-col gap-2">
                        {% csrf_token %} 
                        <div class="form-group">
                            <label for="formGroupExampleInput">Student name</label>
                            <input name="name" required type ="text" class="form-control" id="formGroupExampleInput" placeholder="Nafuna Soniah">
                        </div>
                        <div class="form-group">
                            <select name="gender" class="custom-select">
                                <option selected="">Gender</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Date of Birth</label>
                            <input name="date_of_birth" required type="date" class="form-control" id="formGroupExampleInput2" placeholder="dd/mm/yyyy">
                        </div>
                        
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Email</label>
                            <input required type="email" class="form-control" id="formGroupExampleInput2" placeholder="son@gmail.com">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Phone</label>
                            <input name="phone" required type="tel" class="form-control" id="formGroupExampleInput2" placeholder="0789345271">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Address</label>
                            <input name="address" required type="text" class="form-control" id="formGroupExampleInput2" placeholder="e.g Kampala">
                        </div>
                    
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Next of Kin</label>
                            <input name="next_of_kin" required type="text" class="form-control" id="formGroupExampleInput2" placeholder="Parent/ Guardians's name">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Next of kin Phone</label>
                            <input name="next_of_kin_phone" required type="tel" class="form-control" id="formGroupExampleInput2" placeholder="0789345271">
                        </div>                
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Course</label>
                            <input name="course" required type="text" class="form-control" id="formGroupExampleInput2" placeholder="CSE Python">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Result</label>
                            <input name="result" required type="number" class="form-control" id="formGroupExampleInput2" placeholder="Enter Percentage Mark">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2"> Student ID</label>
                            <input name="student_id" required type="text" class="form-control" id="formGroupExampleInput2" placeholder="e.g CSE0001">
                        </div>
                        <div>
                            <button type="button" class="btn btn-success">Add Student</button>
                        </div>
                    </form>
             </div>

            </div>
          </main>

       

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>