<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Income Tax Calculator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <nav class="nabbar bg-primary navbar-expand-lg navbar-light">
        <a class="navbar-brand text-white" href="#">Calculator</a>
    </nav>
    <div class="jumbotron">
        <h4>Basic Income Tax Calculator</h4>
        <p>Calculate the income tax by providing your gross pay.</p>
    </div>
    <div class="container">
        <p>Provide the details below</p>
        <form method="post" class="p-2 border border-dark rounded-lg">
             {% csrf_token %}
            <div class="form-group">
                <label for="formGroupExampleInput">Gross Income</label>
                <input type="text" name="income" class="form-control" id="formGroupExampleInput" placeholder="e.g 100,000">
            </div>
            <button type="submit" class="btn btn-dark"> Calculate Income Tax</button>

        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>